#side-menu {
    width: 200px;
    min-height: 100vh;
}

.lb-card-event {
    min-width: 250px;
    width: 300px;
    margin: 25px 15px;
}

.uk-card-media-top img {
    max-height: 200px !important;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.uk-card {
    min-width: 300px !important;
}

.uk-card .descricao {
    max-height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}