@font-face {
    font-family: 'Mosk';
    src:  url('../fonts/Mosk-Normal-400.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
}

:root {
    --color-pri:#222831;
    --color-sec:#393e46;
    --color-ter:#7971ea;
    --color-text:#eeeeee;
    --color-danger: #f0506e;
}


.lb-bg-primary {
    background: var(--color-pri) !important;
}

.lb-bg-secondary {
    background: var(--color-sec) !important;
}

.lb-bg-tertiary {
    background: var(--color-ter) !important;
}

.lb-color-primary {
    color: var(--color-pri) !important;
}

.lb-color-secondary {
    color: var(--color-sec) !important;
}

.lb-color-tertiary {
    color: var(--color-ter) !important;
}

.lb-color-text {
    color: var(--color-text) !important;
}

.lb-button {
    color: white !important;
    border-radius: 5px !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
    width: 30%;
    height: 3em;
    padding: .5px;
    border-style: none;
}

.lb-button:hover {
    filter: brightness(80%);
}

.lb-button-primary {
    background: var(--color-ter);
}

.lb-button-default {
    background: rgba(0, 0, 0, 0);
    color: var(--color-sec) !important;
    border: 0.5px solid var(--color-sec);
}

.lb-button-default:hover {
    background: rgba(0, 0, 0, 0.05);
}

.lb-button-danger {
    background:var(--color-danger);
    color: var(--color-text) !important;
}

.lb-font {
    font-family: 'Mosk';
}